@model examenEmpleados.Models.Employee
@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar Información de Empleados</h2>

<h3>¿Está seguro que desea eliminar la información?</h3>
<hr />

<div class="container">
    <div class="row">
        <div class="col-6">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.EmployeeId)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.EmployeeId)
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.EmployeeApellido)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.EmployeeApellido)
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.EmployeeNombres)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.EmployeeNombres)
                </dd>
            </dl>

            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.EmployeeApodo)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.EmployeeApodo)
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.EmployeeDireccion)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.EmployeeDireccion)
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.EmployeeCodigoPostal)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.EmployeeCodigoPostal)
                </dd>
            </dl>
        </div>

        <div class="col-6">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.EmployeeTelefono)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.EmployeeTelefono)
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.EmployeeCelular)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.EmployeeCelular)
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.EmployeeFax)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.EmployeeFax)
                </dd>
            </dl>
        </div>
        <div></div>
        <div class="col-12">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.EmployeeObservaciones)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.EmployeeObservaciones)
                </dd>
            </dl>
        </div>

    </div>
</div>

<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="EmployeeId" />
        <input type="submit" class="btn btn-danger" value="Borrar" />
        <a asp-action="Index" class="btn btn-success">Regresar</a>
    </form>

</div>